*
!.config
!.config/clang-format
!.config/clang-format/cpp.yml
!.config/discord
!.config/discord/settings.json
!.config/fish
!.config/fish/config.fish
!.config/git
!.config/git/config
!.config/gtk-2.0
!.config/gtk-2.0/settings.ini
!.config/gtk-3.0
!.config/gtk-3.0/settings.ini
!.config/gtk-4.0
!.config/gtk-4.0/settings.ini
!.config/kitty
!.config/kitty/kitty.conf
!.config/mpv
!.config/mpv/mpv.conf
!.config/nvim
!.config/nvim/**
!.config/python
!.config/python/pythonrc
!.config/rustfmt
!.config/rustfmt/rustfmt.toml
!.config/shell
!.config/shell/**
!.config/stylua
!.config/stylua/stylua.toml
!.config/wget
!.config/wget/wgetrc
!.config/zsh
!.config/zsh/.zshrc
!.gitignore
!.librewolf
!.librewolf/librewolf.overrides.cfg
!.local
!.local/bin
!.local/bin/**
!.local/share
!.local/share/icons
!.local/share/icons/default
!.local/share/icons/default/index.theme
!LICENSE
!README.md
